@import "variables";

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import "bower_components/rateYo/src/jquery.rateyo.less";

@import "components/header";
@import "components/sorting";
@import "components/filter";
@import "components/preloader";
@import "components/cards";
@import "components/pagination";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Arial, sans-serif;
}

.content{
  @extend .col-24;
  @extend .col-lg-19;
}
