.card {
  @extend .col-6;
  padding-left: 0;
  padding-right: 0;
  align-items: center;

  &__img {

  }

  &__title {
    display: inline-block;
    margin-bottom: 10px;
  }

  &__block {
    @extend .card-block;
    padding: 5px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;

    &__stars {
      padding: 0;
      font-size: 0;
    }
  }

  &__review {

    &__total {
      font-size: 13px;
    }

    &__amount {

    }

  }

  &__deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__prices {

  }

  &__sale {
    color: #999;
    font-size: 13px;
    text-decoration: line-through;

    + .card__price {
      margin-top: 0;
    }
  }

  &__price {
    color: #3e3e3e;
    font-size: 18px;
    line-height: 1;
    margin-top: 18px;
  }

  .b-add-to-cart__price_crossed + .b-add-to-cart__price-big {
    margin: 0;
  }

  &__btn {
    @extend .btn;
    @extend .btn-secondary;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 1px 1px $gray-lighter;
    padding: 7px 10px;
  }
}

.product-card-price {
  color: #3e3e3e;
  font-size: 18px;
  line-height: 1;
}

@media (min-width: 576px) {
  .card-deck .card:not(:last-child) {
    margin-right: 5px;
  }
}

.card-deck {
  padding-bottom: 2rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 3rem;
  }
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.page-item:first-child .page-link {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: none;
}
