.catalog__header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: .05rem solid $gray-lighter;
  padding-bottom: 1rem;
  margin-bottom: 20px;
}

.catalog__title{
  font-size: 2rem;
}
