.preloader{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 710px;
  background: url(../images/preloader.svg) no-repeat center 70px;
  background-size: 70px;
}
